<component name="ArtifactManager">
  <artifact type="war" name="SpringLinkSharing:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringHibernateExample.war">
      <element id="artifact" artifact-name="SpringLinkSharing:war exploded" />
    </root>
  </artifact>
</component>